# ============================================
# ROBOT FRAMEWORK - Framework principal
# ============================================
robotframework==7.0

# ============================================
# LIBRAIRIES POUR TESTS API
# ============================================
robotframework-requests==0.9.7

# ============================================
# LIBRAIRIES POUR TESTS UI (navigateur)
# ============================================
robotframework-seleniumlibrary==6.2.0
selenium==4.15.2

# ============================================
# UTILITAIRES
# ============================================
webdrivermanager==0.10.0